body,
html {
    height: 100%;
    overflow: hidden;
}

.mandatory {
    color: #dc3545;
    font-size: 0.8rem;
}

.card-registration {
    max-width: 1000px;
    width: 100%;
}

.logo-side {
    background-color: #f0f4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}